/**Fonts**/
@font-face {
  font-family: 'light';
  src: URL('Font/Barlow-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'med';
  src: URL('Font/Barlow-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'reg';
  src: URL('Font/Barlow-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'boilgo';
  src: URL('Font/Boilgo.otf') format('opentype');
}

body{
  font-family: 'reg' !important;

 
}
/**this is the sticky style**/
*{
  box-sizing: border-box;
}

.price-image {
  max-width: 75%;
  text-align: center;
  margin: auto;

}

.col-lg-6{
  margin-top: 5%;
}


h2 {
  font-family: 'boilgo' !important;
  font-size: 70px !important;
  color: #9d846e !important;
  text-align: center;
}

.title-style{
  padding-top: 5%;
}

.header {

    background: url('IMG/header3.jpg') no-repeat 50% 0;
    background-size: 100%;
    background-position: 0% 90%;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    font-family: 'reg' !important;
    font-size: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    min-height: 300px;
    overflow: hidden;

}

/* nav styles */
  .navbar{
    overflow: hidden;
    background-color: #F7C7B6;
    color: #9d846e !important;
  }
  .navbar-brand{
    color: #9d846e !important;
  }
  .nav-link{
    color: #9d846e !important;
  }


.topnav-right {
    float: right;
  }

.bookButton {
  margin: 5%;
  background-color: white; /* Green */
  border: 1.5px solid #F7C7B6;
  border-radius: 25px;
  min-width: 200px;
  color: #F7C7B6;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.bookButton:hover {
  background-color:#F7C7B6;
  color: white;
}

.buttonStyle{
  margin: auto;
  text-align: center;
}

.sticky+.content {
    padding-top: 60px;
}


.grid-box {
    margin: auto;
    width: 80%; /*Gray Box*/
    padding: 50px 0; /*from text to box spacing */

  }
  
  /**image grid**/
.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; }
    .gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
    .gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
    
  
  
  /*grid*/
  .row {
    display: flex;
    flex-wrap: wrap;
    /* padding: 0 4px; */
  }

  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  
  table {
    width:100%;
  }

  table, th, td {
    /* border: 1px solid black; */
    border-collapse: collapse;
  }

  th, td {
    padding: 15px !important; 
    text-align: left;
  }

  table#t01 tr:nth-child(even) {
    background-color: #eee;
  }

  table#t01 tr:nth-child(odd) {
   background-color: #fff;
  }

  table#t01 th {
    background-color: black;
    color: white;
  }



footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(228, 177, 159);
  color: white;
  min-height: 200px;
}

.appointment {
  text-align: center;
  color: #F7C7B6;
  font-size: 40px;
  margin: 30px;
}

.tab-content{
  max-height: 400px;
  overflow: auto; /**constrains text**/

}

/* mobile responsiveness */
@media(max-width: 769px){
  .price-image{
    margin-left: 12%;
  }
  .grid-box{
    padding: 0;
  }
  .header{
    background-position: 0% 90%;
    min-height: 220;

  }
}
/* 768 */

@media(max-width:530px) {
  .header{
    min-height: 140;
  }
}


@media (max-width: 450px) {
  .gallery {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-width: 100%;
  -moz-column-width: 100%;
  column-width: 100%;
  }
  
  .header{
    background-position: 0% 0%;
    min-height: 150;

  }
}

@media (max-width: 400px) {
  
  .btn.filter {
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  }

  .header{
    padding: 0;
    background-position: 0% 0%;
    min-height: 130;
    
  }
  .price-image{
    margin-bottom: 5%;
  }

  .grid-box{
    padding-top: 0;
    padding-bottom: 20px;
  }

}

.far{
  margin-right: 5px;
}

.carousel{
  max-width: 80%;
  margin: 3% auto 5%;

  background-color: #f7c7b679;
  border-radius: 10px;
}

.contact-style{
  color:#fff !important;
  padding-top: 3%;

}

.carousel-item{
  padding: 7% 15%;
}

